{% extends "layout.html" %}
{% load static %}

{% block title %}

{% endblock title %}

{% block content %}
<div class="middle">
{% if form.errors %}
  <p>Your username and password didn't match. Please try again.</p>
{% endif %}

{% if next %}
  {% if user.is_authenticated %}
    <p>Your account doesn't have access to this page. To proceed,
    please login with an account that has access.</p>
  {% else %}
    <p>Please login to see this page.</p>
  {% endif %}
{% endif %}

<form method="post" action="{% url 'login' %}">
{% csrf_token %}

  <label>Имя пользователя:</label>
  {{ form.username }}

  <label>Пароль:</label>
  {{ form.password }}
  
<input type="submit" value="Войти" class="btn" />
<input type="hidden" name="next" value="{{ next }}" />
</form>
</div>
{% endblock content %}