{% extends "layout.html" %}
{% load static %}

{% block links %}
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/datepicker/0.6.5/datepicker.min.css" integrity="sha256-b88RdwbRJEzRx95nCuuva+hO5ExvXXnpX+78h8DjyOE=" crossorigin="anonymous" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/datepicker/0.6.5/datepicker.min.js" integrity="sha256-/7FLTdzP6CfC1VBAj/rsp3Rinuuu9leMRGd354hvk0k=" crossorigin="anonymous"></script>
{% endblock links %}

{% block title %}
О нас
{% endblock title %}

{% block content %}
<div class="middle">
<form action="" method="POST">
    {% csrf_token %}
    {{form.name.label_tag}}
    {{form.name}}

    {{form.title.label_tag}}
    {{form.title}}

    {{form.date.label_tag}}
    {{form.date}}
    <script>
        $(function () {
          $("#id_date").datepicker({
            format:'dd/mm/yyyy',
          });
        });
      </script>
    
    {{form.duration.label_tag}}
    {{form.duration}}
    <span class="helptext">{{form.duration.help_text}}</span>
    <input type="submit" class="btn">
</form>
</div>
{% endblock content %}