{% extends "layout.html" %}
{% load static %}

{% block title %}
Записи
{% endblock title %}

{% block content %}
<section class="trainings">
    <h2>Записи</h2>
    <div class="trainings-list">

    {% for reg in regs %}
    <div class="training">
      <div class="training-info">
        <h3>{{reg.title}}</h3>
        <p>Имя: {{reg.name}}</p>
        <p>Дата: {{reg.date}}</p>
        <p>Длительность: {{reg.duration}}</p>
        <a href="{% url "list_delete" id=reg.id %}" class="btn">Delete</a>
      </div>
    </div>
      {% endfor %}

    </div>
  </section>
{% endblock content %}